
<header class="site-header px2 px-responsive" style="position: sticky; top: 0; width: 100%; background: white; height: 60px; padding: 25px 0 0 0; z-index:1030;">
  
  <div class="mt2 wrap" >
    <div class="measure">
      <a href="{{ site.url }}" class="site-title" style="font-size:30px;vertical-align:text-bottom;">{{ site.title }}</a>
      <nav class="site-nav">
        {% include navigation.html %}      
      </nav>      
      <!-- <hr> -->
      <div style="padding: 5px;">
      <hr id="navbar-border" style="clear: both; height: 0;">
    </div>
    </div>
    
      
</header>
<br>
