<!-- <a href="{{ site.baseurl }}/">About</a> -->

<script type="text/javascript">
function scrollToPublications() {
	$(document.body).animate({
	    'scrollTop':   $('#research').offset().top
	}, 2000);
}
function scrollToProjects() {
	$(document.body).animate({
	    'scrollTop':   $('#projects').offset().top
	}, 2000);
}
</script>

<a href="https://www.dropbox.com/s/ycn5p6p2n6la71h/CV.pdf?dl=0" style="font-size: 1rem">CV</a>
<a href="#research" style="font-size: 1rem">Papers</a>
<a href="#projects" style="font-size: 1rem">Projects</a>
<a href="https://scholar.google.com/citations?user=1E7m_VsAAAAJ&hl=en" style="font-size: 1rem">Scholar</a>
<a href="https://github.com/{{ site.github_username }}" style="font-size: 1rem">GitHub</a>
<a href="https://twitter.com/{{ site.twitter_username }}" style="font-size: 1rem">Twitter</a>
<a href="https://www.linkedin.com/in/viraj-prabhu-0a2a9435/" style="font-size: 1rem">LinkedIn</a>
