<!-- <a href="{{ site.baseurl }}/">About</a> -->

<script type="text/javascript">
function scrollToPublications() {
	$(document.body).animate({
	    'scrollTop':   $('#research').offset().top
	}, 2000);
}
function scrollToProjects() {
	$(document.body).animate({
	    'scrollTop':   $('#projects').offset().top
	}, 2000);
}
</script>

<a href="#research">Publications</a>
<!-- <a href="#" onclick="scrollToPublications();return false;">Publications</a> -->
<!-- <a href="#" onclick="scrollToProjects();return false;">Projects</a> -->
<a href="#projects">Projects</a>
<!-- <a href="{{ site.baseurl }}/">Achievements</a> -->
<!-- <a href="{{ site.baseurl }}/">Achievements</a> -->
<a href="{{ site.baseurl }}/cv/CV.pdf">CV</a>
<!-- <a href="{{ site.basurl }}/blog/">Blog</a> -->

