a {
  color: black;
  text-decoration: none;
  text-shadow: white 1px 0px 0px, white -1px 0px 0px;
}

a.uline {
  border-bottom: 1px solid #ccc;
}

a.uline-special {
  border-bottom: 1px solid #ccc;
}

a.uline:hover{
  border-bottom: 1px solid #ccc;
}

a:hover,
a:focus,
a:active {
  border: 0;
  color: $link-hover-color;
  text-decoration: none;
  text-shadow: white 1px 0px 0px, white -1px 0px 0px;
}

// Correct issues with buttons
button,
.button {
  text-shadow: none;
  background-image: none;
}

.button:hover,
.button:focus,
.button:active {
  color: white;
  text-shadow: none;
  background-image: none;
}

.anchorjs-link {
    text-shadow: none;
    background-image: none;
}
.anchorjs-link:hover,
.anchorjs-link:focus,
.anchorjs-link:active{
    border: 0;
    color: $link-hover-color;
    text-shadow: none;
    background-image: none;
}

.btn:hover {
  color: #fff !important;
  text-decoration: none;
}