a {
  color: #333;
  text-decoration: none;
  text-shadow: white 1px 0px 0px, white -1px 0px 0px;
}

a.uline {
  // border-bottom: 1px solid #ccc;
  color: #0076df;
}

a.uline-special {
  border-bottom: 1px solid #ccc;
}

a.uline:hover{
  border-bottom: 1px solid #ccc;
}

a:hover,
a:focus,
a:active {
  border: 0;
  color: $link-hover-color;
  text-decoration: none;
  text-shadow: white 1px 0px 0px, white -1px 0px 0px;
}

// Correct issues with buttons
button,
.button {
  text-shadow: none;
  background-image: none;
}

.button:hover,
.button:focus,
.button:active {
  color: white;
  text-shadow: none;
  background-image: none;
}

.anchorjs-link {
    text-shadow: none;
    background-image: none;
}
.anchorjs-link:hover,
.anchorjs-link:focus,
.anchorjs-link:active{
    border: 0;
    color: $link-hover-color;
    text-shadow: none;
    background-image: none;
}
.btn{
  border: 1px;
  margin: 0px 5px 0px 5px;
  border-radius: 0;
}